* {
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
}

main {
    margin: 7.5vw;
}

header {
    width: 100vw;
    height: 5vh;
    background-color: var(--main-color);
}

.title {
    font-size: var(--big-font-size);
}

header .title {
    position: absolute;
    left: 6vw;
    top: 0.8vh;
}

header img {
    position: absolute;
    width: 10vw;
    right: 3vw;
}

main .add-page {
    position: absolute;
    width: 85vw;
    height: 20vh;
    top: 8vh;
    border-radius: var(--big-border-radius);
    background-color: var(--main-color);
}

main .add-btn {
    position: absolute;
    width: 15vw;
    height: 5vh;
    left: 35vw;
    top: 7vh;
    background-color: var(--black-color);
    border-radius: var(--normal-border-radius);
}

.list .search {
    position: absolute;
    width: 83vw;
    height: 3vh;
    top: 17vh;
}

.list .search input {
    border-radius: var(--normal-border-radius);
    border: var(--normal-border) solid var(--gray-color);
    padding-left: 2vw;
}

.list .search img {
    position: relative;
    width: 7%;
    top: 575%;
    left: 95%;
}

.pages {
    position: absolute;
    top: 40vh;
}

.list .pages .paper {
    width: 79vw;
    height: 7vh;
    background-color: var(--main-color);
    border-radius: var(--big-border-radius);
    padding: 3vw;
    margin-bottom: 5vw;
}

.from,
.date {
    font-size: var(--normal-font-size);
}