* {
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
}

main {
    margin: 7.5vw;
}

header {
    width: 100vw;
    height: 5vh;
    background-color: var(--main-color);
}

.title {
    font-size: var(--big-font-size);
}

header .title {
    position: absolute;
    left: 6vw;
    top: 0.8vh;
}

header img {
    position: absolute;
    width: 10vw;
    right: 3vw;
}

main .add-page {
    position: absolute;
    width: 85vw;
    height: 160px;
    top: 8vh;
    border-radius: var(--big-border-radius);
    background-color: var(--main-color);
}

main .add-btn {
    position: absolute;
    width: 15vw;
    height: 45px;
    left: 35vw;
    top: 7vh;
    background-color: var(--gray-color);
    border-radius: var(--normal-border-radius);
}

.search {
  position: relative;
  top: 12vh;
  width: 78.3vw;
}

input {
  position: relative;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search > button > img {
  position : absolute;
  width: 17px;
  top: 13vh;
  right: -10px;
  margin: 0;
}

.pages {
    position: absolute;
    top: 40vh;
}

.list .pages .paper {
    position: relative;
    width: 79vw;
    height: 7vh;
    background-color: var(--main-color);
    border-radius: var(--big-border-radius);
    padding: 3vw;
    margin-bottom: 5vw;
}

.paper > .title {
    height: 70%;
}

.paper > .detail {
    position: relative;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.from,
.date {
    font-size: var(--normal-font-size);
}