@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
#wrap{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FCC572;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 3px;
}
.rolling_title{
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
}
main{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 43px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 22px;
}
.sender_box{
    box-sizing: border-box;
    width: 80%;
    min-width: 138px;
    margin-left: 35px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
}
.sender_box .sender_tit{
    font-size: 30px;
    font-weight: 800;
}
.sender_box .bi{
    font-size: 20px;
    margin-left: 5px;
}


#sender_input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent; 
    border-bottom: 1px solid #000;
    outline: none;
    padding-left: 5px;
    font-size: 24px;
}
.paper_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 80%;
    background-color: #FFEED4;
    border-radius: 30px;
}
.paper_box>textarea{
    box-sizing: border-box;
    display: block;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    resize: none;
    margin-left: 10px;
    margin-right: 10px;
}
.btn_box{
    width:calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    gap: 10px;
    padding:10px;
}
.btn_box>button{
    width: 150px;
    height: 50px;
    background-color: #FCC572;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}
